@media (max-width: 979px) {
    .aui * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}

div {
    display: block;
}

.aui body {
    color: #000;
    font-weight: normal;
}
.aui body {
    margin: 0;
    font-family: "LLAkkuratWeb-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: black;
    background-color: whitesmoke;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
}

::selection {
    text-shadow: none !important;
    background-color: #fee11b;
    color: #000;
}
